.project32_h {
	background:url('../img/project32_h.png') no-repeat top left; display:inline-block;
}
.project32_h.addressbook {
	background-position:0 -0px;
	width: 32px;
	height: 32px;
}
.project32_h.addressbook:hover {
	background-position:-32px -0px;
	width: 32px;
	height: 32px;
}
.project32_h.alert {
	background-position:0 -32px;
	width: 32px;
	height: 32px;
}
.project32_h.alert:hover {
	background-position:-32px -32px;
	width: 32px;
	height: 32px;
}
.project32_h.applications {
	background-position:0 -64px;
	width: 32px;
	height: 32px;
}
.project32_h.applications:hover {
	background-position:-32px -64px;
	width: 32px;
	height: 32px;
}
.project32_h.battery {
	background-position:0 -96px;
	width: 32px;
	height: 32px;
}
.project32_h.battery:hover {
	background-position:-32px -96px;
	width: 32px;
	height: 32px;
}
.project32_h.batterydisplay {
	background-position:0 -128px;
	width: 32px;
	height: 32px;
}
.project32_h.batterydisplay:hover {
	background-position:-32px -128px;
	width: 32px;
	height: 32px;
}
.project32_h.batterydisplay_charging {
	background-position:0 -160px;
	width: 32px;
	height: 32px;
}
.project32_h.batterydisplay_charging:hover {
	background-position:-32px -160px;
	width: 32px;
	height: 32px;
}
.project32_h.batterydisplay_full {
	background-position:0 -192px;
	width: 32px;
	height: 32px;
}
.project32_h.batterydisplay_full:hover {
	background-position:-32px -192px;
	width: 32px;
	height: 32px;
}
.project32_h.batterydisplay_low {
	background-position:0 -224px;
	width: 32px;
	height: 32px;
}
.project32_h.batterydisplay_low:hover {
	background-position:-32px -224px;
	width: 32px;
	height: 32px;
}
.project32_h.bell {
	background-position:0 -256px;
	width: 32px;
	height: 32px;
}
.project32_h.bell:hover {
	background-position:-32px -256px;
	width: 32px;
	height: 32px;
}
.project32_h.book {
	background-position:0 -288px;
	width: 32px;
	height: 32px;
}
.project32_h.book:hover {
	background-position:-32px -288px;
	width: 32px;
	height: 32px;
}
.project32_h.book_bookmark {
	background-position:0 -320px;
	width: 32px;
	height: 32px;
}
.project32_h.book_bookmark:hover {
	background-position:-32px -320px;
	width: 32px;
	height: 32px;
}
.project32_h.box {
	background-position:0 -352px;
	width: 32px;
	height: 32px;
}
.project32_h.box:hover {
	background-position:-32px -352px;
	width: 32px;
	height: 32px;
}
.project32_h.box_thissideup {
	background-position:0 -384px;
	width: 32px;
	height: 32px;
}
.project32_h.box_thissideup:hover {
	background-position:-32px -384px;
	width: 32px;
	height: 32px;
}
.project32_h.burn {
	background-position:0 -416px;
	width: 32px;
	height: 32px;
}
.project32_h.burn:hover {
	background-position:-32px -416px;
	width: 32px;
	height: 32px;
}
.project32_h.calendar_blue {
	background-position:0 -448px;
	width: 32px;
	height: 32px;
}
.project32_h.calendar_blue:hover {
	background-position:-32px -448px;
	width: 32px;
	height: 32px;
}
.project32_h.calendar_dayview {
	background-position:0 -480px;
	width: 32px;
	height: 32px;
}
.project32_h.calendar_dayview:hover {
	background-position:-32px -480px;
	width: 32px;
	height: 32px;
}
.project32_h.calendar_monthview {
	background-position:0 -512px;
	width: 32px;
	height: 32px;
}
.project32_h.calendar_monthview:hover {
	background-position:-32px -512px;
	width: 32px;
	height: 32px;
}
.project32_h.chalkboard {
	background-position:0 -544px;
	width: 32px;
	height: 32px;
}
.project32_h.chalkboard:hover {
	background-position:-32px -544px;
	width: 32px;
	height: 32px;
}
.project32_h.chalkboard_empty {
	background-position:0 -576px;
	width: 32px;
	height: 32px;
}
.project32_h.chalkboard_empty:hover {
	background-position:-32px -576px;
	width: 32px;
	height: 32px;
}
.project32_h.chip {
	background-position:0 -608px;
	width: 32px;
	height: 32px;
}
.project32_h.chip:hover {
	background-position:-32px -608px;
	width: 32px;
	height: 32px;
}
.project32_h.clipboard_empty {
	background-position:0 -640px;
	width: 32px;
	height: 32px;
}
.project32_h.clipboard_empty:hover {
	background-position:-32px -640px;
	width: 32px;
	height: 32px;
}
.project32_h.clipboard_torn {
	background-position:0 -672px;
	width: 32px;
	height: 32px;
}
.project32_h.clipboard_torn:hover {
	background-position:-32px -672px;
	width: 32px;
	height: 32px;
}
.project32_h.colorwheel {
	background-position:0 -704px;
	width: 32px;
	height: 32px;
}
.project32_h.colorwheel:hover {
	background-position:-32px -704px;
	width: 32px;
	height: 32px;
}
.project32_h.contactcard {
	background-position:0 -736px;
	width: 32px;
	height: 32px;
}
.project32_h.contactcard:hover {
	background-position:-32px -736px;
	width: 32px;
	height: 32px;
}
.project32_h.dashboard {
	background-position:0 -768px;
	width: 32px;
	height: 32px;
}
.project32_h.dashboard:hover {
	background-position:-32px -768px;
	width: 32px;
	height: 32px;
}
.project32_h.delete {
	background-position:0 -800px;
	width: 32px;
	height: 32px;
}
.project32_h.delete:hover {
	background-position:-32px -800px;
	width: 32px;
	height: 32px;
}
.project32_h.design {
	background-position:0 -832px;
	width: 32px;
	height: 32px;
}
.project32_h.design:hover {
	background-position:-32px -832px;
	width: 32px;
	height: 32px;
}
.project32_h.design_blueprint {
	background-position:0 -864px;
	width: 32px;
	height: 32px;
}
.project32_h.design_blueprint:hover {
	background-position:-32px -864px;
	width: 32px;
	height: 32px;
}
.project32_h.dictionary {
	background-position:0 -896px;
	width: 32px;
	height: 32px;
}
.project32_h.dictionary:hover {
	background-position:-32px -896px;
	width: 32px;
	height: 32px;
}
.project32_h.disk_harddisk {
	background-position:0 -928px;
	width: 32px;
	height: 32px;
}
.project32_h.disk_harddisk:hover {
	background-position:-32px -928px;
	width: 32px;
	height: 32px;
}
.project32_h.e-mail {
	background-position:0 -960px;
	width: 32px;
	height: 32px;
}
.project32_h.e-mail:hover {
	background-position:-32px -960px;
	width: 32px;
	height: 32px;
}
.project32_h.envelope {
	background-position:0 -992px;
	width: 32px;
	height: 32px;
}
.project32_h.envelope:hover {
	background-position:-32px -992px;
	width: 32px;
	height: 32px;
}
.project32_h.envelope_airmail {
	background-position:0 -1024px;
	width: 32px;
	height: 32px;
}
.project32_h.envelope_airmail:hover {
	background-position:-32px -1024px;
	width: 32px;
	height: 32px;
}
.project32_h.error {
	background-position:0 -1056px;
	width: 32px;
	height: 32px;
}
.project32_h.error:hover {
	background-position:-32px -1056px;
	width: 32px;
	height: 32px;
}
.project32_h.facebook {
	background-position:0 -1088px;
	width: 32px;
	height: 32px;
}
.project32_h.facebook:hover {
	background-position:-32px -1088px;
	width: 32px;
	height: 32px;
}
.project32_h.file {
	background-position:0 -1120px;
	width: 32px;
	height: 32px;
}
.project32_h.file:hover {
	background-position:-32px -1120px;
	width: 32px;
	height: 32px;
}
.project32_h.filetype_rss {
	background-position:0 -1152px;
	width: 32px;
	height: 32px;
}
.project32_h.filetype_rss:hover {
	background-position:-32px -1152px;
	width: 32px;
	height: 32px;
}
.project32_h.filetype_rss_orange {
	background-position:0 -1184px;
	width: 32px;
	height: 32px;
}
.project32_h.filetype_rss_orange:hover {
	background-position:-32px -1184px;
	width: 32px;
	height: 32px;
}
.project32_h.gear {
	background-position:0 -1216px;
	width: 32px;
	height: 32px;
}
.project32_h.gear:hover {
	background-position:-32px -1216px;
	width: 32px;
	height: 32px;
}
.project32_h.get-info {
	background-position:0 -1248px;
	width: 32px;
	height: 32px;
}
.project32_h.get-info:hover {
	background-position:-32px -1248px;
	width: 32px;
	height: 32px;
}
.project32_h.harddisk_installation {
	background-position:0 -1280px;
	width: 32px;
	height: 32px;
}
.project32_h.harddisk_installation:hover {
	background-position:-32px -1280px;
	width: 32px;
	height: 32px;
}
.project32_h.house {
	background-position:0 -1312px;
	width: 32px;
	height: 32px;
}
.project32_h.house:hover {
	background-position:-32px -1312px;
	width: 32px;
	height: 32px;
}
.project32_h.ical {
	background-position:0 -1344px;
	width: 32px;
	height: 32px;
}
.project32_h.ical:hover {
	background-position:-32px -1344px;
	width: 32px;
	height: 32px;
}
.project32_h.instantmessaging {
	background-position:0 -1376px;
	width: 32px;
	height: 32px;
}
.project32_h.instantmessaging:hover {
	background-position:-32px -1376px;
	width: 32px;
	height: 32px;
}
.project32_h.lock {
	background-position:0 -1408px;
	width: 32px;
	height: 32px;
}
.project32_h.lock:hover {
	background-position:-32px -1408px;
	width: 32px;
	height: 32px;
}
.project32_h.lock_unlocked {
	background-position:0 -1440px;
	width: 32px;
	height: 32px;
}
.project32_h.lock_unlocked:hover {
	background-position:-32px -1440px;
	width: 32px;
	height: 32px;
}
.project32_h.magnifyingglass {
	background-position:0 -1472px;
	width: 32px;
	height: 32px;
}
.project32_h.magnifyingglass:hover {
	background-position:-32px -1472px;
	width: 32px;
	height: 32px;
}
.project32_h.money {
	background-position:0 -1504px;
	width: 32px;
	height: 32px;
}
.project32_h.money:hover {
	background-position:-32px -1504px;
	width: 32px;
	height: 32px;
}
.project32_h.money_glowing {
	background-position:0 -1536px;
	width: 32px;
	height: 32px;
}
.project32_h.money_glowing:hover {
	background-position:-32px -1536px;
	width: 32px;
	height: 32px;
}
.project32_h.notification {
	background-position:0 -1568px;
	width: 32px;
	height: 32px;
}
.project32_h.notification:hover {
	background-position:-32px -1568px;
	width: 32px;
	height: 32px;
}
.project32_h.panel {
	background-position:0 -1600px;
	width: 32px;
	height: 32px;
}
.project32_h.panel:hover {
	background-position:-32px -1600px;
	width: 32px;
	height: 32px;
}
.project32_h.panel_colors {
	background-position:0 -1632px;
	width: 32px;
	height: 32px;
}
.project32_h.panel_colors:hover {
	background-position:-32px -1632px;
	width: 32px;
	height: 32px;
}
.project32_h.panel_find {
	background-position:0 -1664px;
	width: 32px;
	height: 32px;
}
.project32_h.panel_find:hover {
	background-position:-32px -1664px;
	width: 32px;
	height: 32px;
}
.project32_h.panel_inspector {
	background-position:0 -1696px;
	width: 32px;
	height: 32px;
}
.project32_h.panel_inspector:hover {
	background-position:-32px -1696px;
	width: 32px;
	height: 32px;
}
.project32_h.pen {
	background-position:0 -1728px;
	width: 32px;
	height: 32px;
}
.project32_h.pen:hover {
	background-position:-32px -1728px;
	width: 32px;
	height: 32px;
}
.project32_h.pencil {
	background-position:0 -1760px;
	width: 32px;
	height: 32px;
}
.project32_h.pencil:hover {
	background-position:-32px -1760px;
	width: 32px;
	height: 32px;
}
.project32_h.pencilandruler {
	background-position:0 -1792px;
	width: 32px;
	height: 32px;
}
.project32_h.pencilandruler:hover {
	background-position:-32px -1792px;
	width: 32px;
	height: 32px;
}
.project32_h.photo {
	background-position:0 -1824px;
	width: 32px;
	height: 32px;
}
.project32_h.photo:hover {
	background-position:-32px -1824px;
	width: 32px;
	height: 32px;
}
.project32_h.photo_polaroid {
	background-position:0 -1856px;
	width: 32px;
	height: 32px;
}
.project32_h.photo_polaroid:hover {
	background-position:-32px -1856px;
	width: 32px;
	height: 32px;
}
.project32_h.piechart {
	background-position:0 -1888px;
	width: 32px;
	height: 32px;
}
.project32_h.piechart:hover {
	background-position:-32px -1888px;
	width: 32px;
	height: 32px;
}
.project32_h.pin {
	background-position:0 -1920px;
	width: 32px;
	height: 32px;
}
.project32_h.pin:hover {
	background-position:-32px -1920px;
	width: 32px;
	height: 32px;
}
.project32_h.preferencespanel {
	background-position:0 -1952px;
	width: 32px;
	height: 32px;
}
.project32_h.preferencespanel:hover {
	background-position:-32px -1952px;
	width: 32px;
	height: 32px;
}
.project32_h.ram {
	background-position:0 -1984px;
	width: 32px;
	height: 32px;
}
.project32_h.ram:hover {
	background-position:-32px -1984px;
	width: 32px;
	height: 32px;
}
.project32_h.receptionbell {
	background-position:0 -2016px;
	width: 32px;
	height: 32px;
}
.project32_h.receptionbell:hover {
	background-position:-32px -2016px;
	width: 32px;
	height: 32px;
}
.project32_h.rss {
	background-position:0 -2048px;
	width: 32px;
	height: 32px;
}
.project32_h.rss:hover {
	background-position:-32px -2048px;
	width: 32px;
	height: 32px;
}
.project32_h.ruler {
	background-position:0 -2080px;
	width: 32px;
	height: 32px;
}
.project32_h.ruler:hover {
	background-position:-32px -2080px;
	width: 32px;
	height: 32px;
}
.project32_h.schoolbell {
	background-position:0 -2112px;
	width: 32px;
	height: 32px;
}
.project32_h.schoolbell:hover {
	background-position:-32px -2112px;
	width: 32px;
	height: 32px;
}
.project32_h.shoppingbag {
	background-position:0 -2144px;
	width: 32px;
	height: 32px;
}
.project32_h.shoppingbag:hover {
	background-position:-32px -2144px;
	width: 32px;
	height: 32px;
}
.project32_h.shoppingbag_black {
	background-position:0 -2176px;
	width: 32px;
	height: 32px;
}
.project32_h.shoppingbag_black:hover {
	background-position:-32px -2176px;
	width: 32px;
	height: 32px;
}
.project32_h.shoppingbag_paperboard {
	background-position:0 -2208px;
	width: 32px;
	height: 32px;
}
.project32_h.shoppingbag_paperboard:hover {
	background-position:-32px -2208px;
	width: 32px;
	height: 32px;
}
.project32_h.shoppingbag_pricetag {
	background-position:0 -2240px;
	width: 32px;
	height: 32px;
}
.project32_h.shoppingbag_pricetag:hover {
	background-position:-32px -2240px;
	width: 32px;
	height: 32px;
}
.project32_h.signpost {
	background-position:0 -2272px;
	width: 32px;
	height: 32px;
}
.project32_h.signpost:hover {
	background-position:-32px -2272px;
	width: 32px;
	height: 32px;
}
.project32_h.signpost_alternate {
	background-position:0 -2304px;
	width: 32px;
	height: 32px;
}
.project32_h.signpost_alternate:hover {
	background-position:-32px -2304px;
	width: 32px;
	height: 32px;
}
.project32_h.spinningbeachball {
	background-position:0 -2336px;
	width: 32px;
	height: 32px;
}
.project32_h.spinningbeachball:hover {
	background-position:-32px -2336px;
	width: 32px;
	height: 32px;
}
.project32_h.status {
	background-position:0 -2368px;
	width: 32px;
	height: 32px;
}
.project32_h.status:hover {
	background-position:-32px -2368px;
	width: 32px;
	height: 32px;
}
.project32_h.stoplight {
	background-position:0 -2400px;
	width: 32px;
	height: 32px;
}
.project32_h.stoplight:hover {
	background-position:-32px -2400px;
	width: 32px;
	height: 32px;
}
.project32_h.stopwatch_off {
	background-position:0 -2432px;
	width: 32px;
	height: 32px;
}
.project32_h.stopwatch_off:hover {
	background-position:-32px -2432px;
	width: 32px;
	height: 32px;
}
.project32_h.stopwatch_on {
	background-position:0 -2464px;
	width: 32px;
	height: 32px;
}
.project32_h.stopwatch_on:hover {
	background-position:-32px -2464px;
	width: 32px;
	height: 32px;
}
.project32_h.suit {
	background-position:0 -2496px;
	width: 32px;
	height: 32px;
}
.project32_h.suit:hover {
	background-position:-32px -2496px;
	width: 32px;
	height: 32px;
}
.project32_h.tophat {
	background-position:0 -2528px;
	width: 32px;
	height: 32px;
}
.project32_h.tophat:hover {
	background-position:-32px -2528px;
	width: 32px;
	height: 32px;
}
.project32_h.tophat_magic {
	background-position:0 -2560px;
	width: 32px;
	height: 32px;
}
.project32_h.tophat_magic:hover {
	background-position:-32px -2560px;
	width: 32px;
	height: 32px;
}
.project32_h.tophat_magicwand {
	background-position:0 -2592px;
	width: 32px;
	height: 32px;
}
.project32_h.tophat_magicwand:hover {
	background-position:-32px -2592px;
	width: 32px;
	height: 32px;
}
.project32_h.tophat_wand {
	background-position:0 -2624px;
	width: 32px;
	height: 32px;
}
.project32_h.tophat_wand:hover {
	background-position:-32px -2624px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_link {
	background-position:0 -2656px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_link:hover {
	background-position:-32px -2656px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_noentry {
	background-position:0 -2688px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_noentry:hover {
	background-position:-32px -2688px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_stop {
	background-position:0 -2720px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_stop:hover {
	background-position:-32px -2720px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_warning {
	background-position:0 -2752px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_warning:hover {
	background-position:-32px -2752px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_yield {
	background-position:0 -2784px;
	width: 32px;
	height: 32px;
}
.project32_h.traffic_yield:hover {
	background-position:-32px -2784px;
	width: 32px;
	height: 32px;
}
.project32_h.trash {
	background-position:0 -2816px;
	width: 32px;
	height: 32px;
}
.project32_h.trash:hover {
	background-position:-32px -2816px;
	width: 32px;
	height: 32px;
}
.project32_h.trash_empty {
	background-position:0 -2848px;
	width: 32px;
	height: 32px;
}
.project32_h.trash_empty:hover {
	background-position:-32px -2848px;
	width: 32px;
	height: 32px;
}
.project32_h.trash_full {
	background-position:0 -2880px;
	width: 32px;
	height: 32px;
}
.project32_h.trash_full:hover {
	background-position:-32px -2880px;
	width: 32px;
	height: 32px;
}
.project32_h.twitter {
	background-position:0 -2912px;
	width: 32px;
	height: 32px;
}
.project32_h.twitter:hover {
	background-position:-32px -2912px;
	width: 32px;
	height: 32px;
}
.project32_h.twitter_mention {
	background-position:0 -2944px;
	width: 32px;
	height: 32px;
}
.project32_h.twitter_mention:hover {
	background-position:-32px -2944px;
	width: 32px;
	height: 32px;
}
.project32_h.twitter_retweet {
	background-position:0 -2976px;
	width: 32px;
	height: 32px;
}
.project32_h.twitter_retweet:hover {
	background-position:-32px -2976px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_appearance {
	background-position:0 -3008px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_appearance:hover {
	background-position:-32px -3008px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_finder {
	background-position:0 -3040px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_finder:hover {
	background-position:-32px -3040px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_inspector {
	background-position:0 -3072px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_inspector:hover {
	background-position:-32px -3072px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_listwindow {
	background-position:0 -3104px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_listwindow:hover {
	background-position:-32px -3104px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_rulers {
	background-position:0 -3136px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_rulers:hover {
	background-position:-32px -3136px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_sidebar {
	background-position:0 -3168px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_sidebar:hover {
	background-position:-32px -3168px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_text {
	background-position:0 -3200px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_text:hover {
	background-position:-32px -3200px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_window {
	background-position:0 -3232px;
	width: 32px;
	height: 32px;
}
.project32_h.ui_window:hover {
	background-position:-32px -3232px;
	width: 32px;
	height: 32px;
}
.project32_h.user {
	background-position:0 -3264px;
	width: 32px;
	height: 32px;
}
.project32_h.user:hover {
	background-position:-32px -3264px;
	width: 32px;
	height: 32px;
}
.project32_h.users {
	background-position:0 -3296px;
	width: 32px;
	height: 32px;
}
.project32_h.users:hover {
	background-position:-32px -3296px;
	width: 32px;
	height: 32px;
}
.project32_h.wallclock {
	background-position:0 -3328px;
	width: 32px;
	height: 32px;
}
.project32_h.wallclock:hover {
	background-position:-32px -3328px;
	width: 32px;
	height: 32px;
}
.project32_h.wallclock_past {
	background-position:0 -3360px;
	width: 32px;
	height: 32px;
}
.project32_h.wallclock_past:hover {
	background-position:-32px -3360px;
	width: 32px;
	height: 32px;
}
.project32_h.wallclock_timemachine {
	background-position:0 -3392px;
	width: 32px;
	height: 32px;
}
.project32_h.wallclock_timemachine:hover {
	background-position:-32px -3392px;
	width: 32px;
	height: 32px;
}
.project32_h.wallet {
	background-position:0 -3424px;
	width: 32px;
	height: 32px;
}
.project32_h.wallet:hover {
	background-position:-32px -3424px;
	width: 32px;
	height: 32px;
}
.project32_h.wallet_money {
	background-position:0 -3456px;
	width: 32px;
	height: 32px;
}
.project32_h.wallet_money:hover {
	background-position:-32px -3456px;
	width: 32px;
	height: 32px;
}
.project32_h.wand {
	background-position:0 -3488px;
	width: 32px;
	height: 32px;
}
.project32_h.wand:hover {
	background-position:-32px -3488px;
	width: 32px;
	height: 32px;
}
.project32_h.wand_magic {
	background-position:0 -3520px;
	width: 32px;
	height: 32px;
}
.project32_h.wand_magic:hover {
	background-position:-32px -3520px;
	width: 32px;
	height: 32px;
}
.project32_h.website {
	background-position:0 -3552px;
	width: 32px;
	height: 32px;
}
.project32_h.website:hover {
	background-position:-32px -3552px;
	width: 32px;
	height: 32px;
}
.project32_h.website_alias {
	background-position:0 -3584px;
	width: 32px;
	height: 32px;
}
.project32_h.website_alias:hover {
	background-position:-32px -3584px;
	width: 32px;
	height: 32px;
}
.project32_h.website_link {
	background-position:0 -3616px;
	width: 32px;
	height: 32px;
}
.project32_h.website_link:hover {
	background-position:-32px -3616px;
	width: 32px;
	height: 32px;
}
