@charset "UTF-8";

.clear {
	clear: both;
}

.hidden {
	display: none;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

#wok-header {
	text-align: center;
	text-decoration: none;
	line-height: 30px;
	width: 100%;
	height: 32px;
	position: fixed;
	top: 0px;
	z-index: 1000;
}

#wok-header:before {
    content:"";
    display:block;
    position:fixed;
    left:0;
    width:100%;
    height:1px;
    bottom:0;
    background: rgb(204,102,0);
}

#trampLinks {
	margin-left: 10px;
	height: 30px;
	float: left;
}

#trampLinks ul li {
	text-transform: uppercase;
	border-top-style: solid;
	border-top-width: 2px;
	text-align: center;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 30px;
	text-decoration: none;
	float: left;
	list-style-position: inside;
	list-style-type: none;
}

#trampLinks ul li:hover {
	height: 28px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	padding-right: 5px;
	padding-left: 5px;
	line-height: 30px;
	text-decoration: none;
	float: left;
	list-style-position: inside;
	list-style-type: none;
}

#trampLinks ul li a {
	text-transform: uppercase;
	text-decoration: none;
	display: block;
}

#actions {
	float: right;
	height: 32px;
}

#actions ul li {
	text-align: center;
	height: 32px;
	line-height: 32px;
	text-decoration: none;
	float: left;
	list-style-position: inside;
	list-style-type: none;
}

#actions ul li:hover {
	height: 30px;
	line-height: 32px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	text-decoration: none;
	float: left;
	list-style-position: inside;
	list-style-type: none;
}

#actions ul li a {
	text-decoration: none;
	display: block;
}

#trampLogin,
#trampUser {
	padding: 0 16px;
}

#trampLoginPopup {
	//display:none;
	position: absolute;
	top:32px;
	right:0px;
	width: 400px;
	//height: 120px;
}

#trampUser {
	border-right-style: solid;
	border-right-width: 1px;
}

#trampUserPopup {
	display:none;
	z-index: 1000;
	position: absolute;
	top:32px;
	right:40px;
	width: 200px;
    border: 1px solid;
}

#admin {
	border-left-style: solid;
	border-left-width: 1px;
	width: 40px;
	height: 32px;
}

#admin span.img, #admin span.img:hover {
	padding: 3px 8px;
	float: left;
}

ul#actions-menu li,
ul#actions-menu li:hover {
	float: none;
}

#trampMessages {
	position: static;
	width: 700px;
	margin: 0 auto;
	background: rgba(46, 48, 52, 0.9);
	/*
	background: #444544;
	top: 32px;
	*/
	border: 1px solid #FFFFFF;
	border-top: 0;
	border-radius: 0px 0px 5px 5px;
	color: #FFFFFF;
}

#wok-footer {
	float: left;
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 48px;
	z-index: 1000;
}

#wok-footer #powered {
	width: 95%;
	margin: 10px auto;
	position:relative;
	padding-top:10px;
}

#wok-footer #powered:before {
    content:"";
    display:block;
    position:absolute;
    left:0;
    width:100%;
    height:1px;
    top:0;
    background:rgb(255,255,255);
}

#wok-footer #powered .text {
    float: right;
}

#wok-footer #powered a {
	text-decoration: none;
	color: rgb(118,129,140);
}

#wok-footer #powered a:hover {
    color: #7f7f7f;
    text-decoration: underline;
}

#wok-container {
	height: 100%;
	padding: 48px 0;
}
