.flags24 {
	background:url('/skins/default/ui/img/flags24.png') no-repeat top left; display:inline-block;
}
.flags24.flag_france {
	background-position:0 -0px;
	width: 24px;
	height: 24px;
}
.flags24.flag_germany {
	background-position:0 -24px;
	width: 24px;
	height: 24px;
}
.flags24.flag_italy {
	background-position:0 -48px;
	width: 24px;
	height: 24px;
}
.flags24.flag_poland {
	background-position:0 -72px;
	width: 24px;
	height: 24px;
}
.flags24.flag_romania {
	background-position:0 -96px;
	width: 24px;
	height: 24px;
}
.flags24.flag_russia {
	background-position:0 -120px;
	width: 24px;
	height: 24px;
}
.flags24.flag_spain {
	background-position:0 -144px;
	width: 24px;
	height: 24px;
}
.flags24.flag_united_arab_emirates {
	background-position:0 -168px;
	width: 24px;
	height: 24px;
}
.flags24.flag_united_kingdom {
	background-position:0 -192px;
	width: 24px;
	height: 24px;
}
.flags24.flag_usa {
	background-position:0 -216px;
	width: 24px;
	height: 24px;
}
