
.widget{background-color:#FFFFFF;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);box-shadow:0 1px 3px rgba(0, 0, 0, 0.3);color:#2E3034;margin-bottom:10px;padding:10px;overflow:hidden;}.widget:hover{-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);}
#widget-e-rates .e-rate{position:relative;zoom:1;}#widget-e-rates .e-rate:before,#widget-e-rates .e-rate:after{display:table;content:"";zoom:1;*display:inline;}
#widget-e-rates .e-rate:after{clear:both;}
#widget-e-rates .e-rate .price{float:left;font-weight:bold;position:absolute;bottom:10px;}#widget-e-rates .e-rate .price .integer{font-size:32px;}
#widget-e-rates .e-rate .price .cents{font-size:20px;}
#widget-e-rates .e-rate .descr{font-weight:bold;padding-bottom:15px;font-size:16px;}
#widget-e-rates .e-rate .buy{float:right;text-align:right;}#widget-e-rates .e-rate .buy .verifyUserMsg{border:1px solid #e37723;float:right;padding:3px;text-align:left;width:175px;}
#widget-e-rates .e-rate form{margin-bottom:0;}
.rss_item>div{zoom:1;}.rss_item>div:before,.rss_item>div:after{display:table;content:"";zoom:1;*display:inline;}
.rss_item>div:after{clear:both;}
.rss_item>div>div div{clear:left;}
